/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';
body {
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.ant-layout {
  height: inherit;
}

.side-xml {
  background: white;
}

.layoutMainVerification > span {
  height: 100%;
}

.ant-form-item-label > label {
  color: #4889d2;
}

.ant-input {
  background-color: #505967;
  border: 1px solid #49525f;
  color: white;
}

.ant-select {
  color: white;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #505967;
  border: 1px solid #49525f;
}

.ant-select-clear {
  background-color: #505967;
}

.ant-divider-horizontal.ant-divider-with-text {
  color: whitesmoke;
  font-size: small;
  border: #223146;
}

.formValidador .ant-col-4 {
  max-width: 100%;
}

.formUpdate .ant-col-4 {
  max-width: 100%;
}

.switchForm .ant-form-item-label > label {
  font-size: 'small';
}

.formValidador .ant-switch-small {
  min-width: 44px;
  height: 22px;
}

.formValidador .ant-switch-small .ant-switch-handle {
  width: 18px;
  height: 18px;
}

.ant-modal-content {
  background-color: #3e4652;
}

.ant-modal-header {
  background-color: #3e4652;
}

.ant-modal-title {
  color: white;
}

.ant-modal-content {
  min-width: 1000px;
}

.ant-picker {
  background: #505967;
  border: 1px solid #49525f;
}

.ant-picker-input > input {
  color: white;
}

.ant-picker-clear {
  background: #505967;
}

.ant-input-affix-wrapper {
  background-color: #505967;
  border: 1px solid #49525f;
}
